@use './src/styles/mixins' as mixins;
@use './src/styles/variables' as vars;

.watchPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 48px;
}

.videoSection {
  display: flex;
  flex-direction: column;
}

.video {
  min-height: 500px;
  flex-basis: 30%;
  border-radius: 4px;
}

.videoDescription {
  @include mixins.flex-between;
  margin-top: 24px;
  align-items: flex-start;

}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  & .title {
    @include mixins.title;
    line-height: 24px;
  }
  & .description {
    @include mixins.description;
    line-height: 24px;
  }
}

.statistic {
  display: flex;
  column-gap: 27px;
  align-items: self-start;
  @include mixins.description;
  line-height: 24px;
  flex-shrink: 0;
}

.likes {
  font-weight: 400;
  padding: 0;
  & .likeIcon {
    margin-bottom: 4px;
  }
}

.statisticText {
  font-family: vars.$fontSaira;
  color: vars.$mainColorText;
}

.dateVideo {
  display: flex;
  column-gap: 11px;
}
